
.grid {
	display: grid;
	grid-template-columns: 1fr;
  grid-template-rows: 2;
  // padding: 250px 120px;
	grid-gap: 24px;
  margin: 25px;
}	

    .grid-1-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      // grid-template-rows: 400px;
      padding: 25px 120px;
      grid-gap: 24px;
      max-width: $container;
      display: flex;
      justify-content: center;
  }

  .grid-1-1-1-1 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 20px;
  // background-color: lightgray;
  height: 50%;
  margin: 25px;
  padding: 0;
} 

// .grid-item {
//   margin:25px;
// }

@media screen and (min-width: 700px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}	
	  .grid-1-4 {
    display: grid;
      grid-template-columns: 1fr 3fr;
      // grid-template-rows: 400px;
      grid-gap: 24px;
  }

  	  .grid-1-2 {
    display: grid;
      grid-template-columns: 1fr 1fr;
      // grid-template-rows: 400px;
      grid-gap: 24px;
  }
}

