// Layout Styles

// Display border-box by defailt
// https://css-tricks.com/box-sizing/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

// Containers
.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 $spacer-15x-x;
    display: flex;
    justify-content: center;
}

.largecontainer {
    max-width: $largecontainer;
    margin: 0 auto;
    padding: 25px 120px;;
    display: flex;
    justify-content: center;
}

.abouttext {
    margin: 25px;
    color:#225374;
}

.hometext {
    margin: 25px;
    font-size: 1.25em;
    color:#225374;
}

.billboard {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.billboard__media {
  display: block;
  max-height: 80vh;
  object-fit: cover;
  width: 100vw;
  max-width: 100%;
  // filter: grayscale(.75);
}

.billboardvideo {
    margin: 0 auto;
    //padding: 0 $spacer-15x-x;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main, 
[role="main"],
.main {
  flex: 1;
}

