// Styles for Typography

html {
	font-family: 'Orbitron', sans-serif;
}

p,
h3,
h2 {
	font-family: 'Asap', sans-serif;
}

.text-center {
	text-align: center;
}

.list-prices li{
	list-style: none;
	padding-top: 8px;
	padding-bottom: 8px;
	
}

.list-prices li:not(:first-child){
	
	border-top: 1px dotted #808080;
	
}