// Variables


// Colors

//Spectrum
$red: #b46565;
$orange: #b49165;
$yellow: #b4ab65;
$green: #73877e;
$blue: #374258;
$purple: #543f46;

// Grayscale
$black: #000;
$gray: #eaeaea;
$darkgray: #464646;
$lightgray: #aaaaaa;
$white: #ffffff;

// Widths
//
// Variables for container and other widths
$container: 800px;

$largecontainer: 1200px;

// Spacer
//
// Use these to create a consistent set of numbers for your
// margins and paddings

// Base
$spacer: 8px;
$spacer-y: 8px;
$spacer-x: 8px;

// Large
$spacer-15x: 12px;
$spacer-15x-y: 12px;
$spacer-15x-x: 12px;

// Larger
$spacer-2x: 16px;
$spacer-2x-y: 16px;
$spacer-2x-x: 16px;

// Largest
$spacer-3x: 32px;
$spacer-3x-y: 32px;
$spacer-3x-x: 32px;